.navbar {
    display: flex;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

.section2 a {
    font-size: 28px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 2px solid white;
    color: rgb(255, 255, 255);
    transition: all 0.1s ease-in-out;
}

.section1 a {
    font-size: 28px;
    color: aliceblue;
    padding: 2px 12px;
    transition: all 0.1s ease-in-out;
}

@media (max-width: 1060px) {
    .navbar a {
        font-size: 24px;
    }
}

@media (max-width: 930px) {
    .navbar a {
        font-size: 19px;
    }
}

@media (max-width: 800px) {
    .navbar {
        padding-top: 20px;
    }

    .dropdown {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5) 15%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }
}
