@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
    --background: #ffffff;
    --foreground: #171717;
}

@font-face {
  font-family: "Teko";
  src: url('./fonts/Teko-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("./fonts/verdana-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (prefers-color-scheme: dark) {
  :root {
      --background: #0a0a0a;
      --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.circular-img {
  float: right;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}
